---
layout: base.ejs
---

<div am-BigIntro>
  <img am-BigIntro-Title src="/assets/img/logo_wide.svg" />
  <?php perch_content('Hero Image'); ?>

  <div am-BigIntro-Text>
    <?php perch_content('Intro'); ?>
  </div>
</div>
