[am-Event] {
	background: #00A1AB;

	@include all-type {
		color: white;
	}

	p:last-child {
		margin: 0;
	}

	.button {
		background: white;
		border: 3px solid white;
		font-weight: bold;
		color: $primary-color;
		transition: all 0.3s;
		margin: 0;

		&:hover {
			border-color: lighten($primary-color, 50%);
		}
	}
}

[am-Event-Inner] {
	max-width: $global-width*0.8;
	margin: 0 auto;
	padding: 2rem 2rem 2rem 10rem;
	position: relative;

	* {
		position: relative;
		z-index: 1;
	}


	@include breakpoint(small only) {
		padding: 1rem;
	}

	&:after {
		position: absolute;
		display: block;
		content: "";
		left: 1rem;
		top: 1rem;
		right: 1rem;
		bottom: 1rem;
		border: 4px dashed white;
		opacity: 0.5;
		border-radius: 20px;


		@include breakpoint(small only) {
		 	display: none;
		}

	}
}

[am-Event-Date] {

	display: none;

	@include breakpoint(small only) {
		display: block;
	}
}

[am-Event-Calendar] {
	width: 7rem;
	position: absolute;
	left: 2rem;

	@include breakpoint(small only) {
		display: none;
	}
}