[am-IconPoints] {
	@include list-reset;
	@include clearfix;
	margin: 0;

	li {
		
		float: left;
		font-size: 1rem;
		width: 100%;
		margin-bottom: 1rem;

		@include breakpoint(medium) {
			
			padding: 1rem;
			text-align: center;
			font-size: 1.1rem;
			width: 33.33%;

		}

		@include breakpoint(medium) {
			font-size: 1.3rem;

		}

		&:last-child {
			margin-bottom: 0;
			

			[am-IconPoints-Text] {
				margin-bottom: 0;
			}


		}
	}
}

[am-IconPoints-Text] {

	@include breakpoint(small only) {

		padding-left: 3.5rem;

	}
}

[am-IconPoints-Icon] {
	
	display: block;
	position: absolute;
	font-size: 2rem;
	margin-right: 1rem;
	margin-left: 0.5rem;
	color: #666;

	@include breakpoint(medium) {
		
		margin: 0 0 1rem 0;
		position: static;
		font-size: 8rem;
	}

	@include breakpoint(large) {
		font-size: 10rem;
	}	

}