

[am-IconList] {

	@include list-reset();



	li {
		font-size: 1rem;
		display: block;
		margin-right: 0;
		margin-bottom: 1rem;
		color: $header-color;


		@include breakpoint(large) {
			font-size: 1.5rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
		

		@include breakpoint(small only) {

			text-align: center;

			> span {
				display: block;
			}

		}
		
	}

	[class^='icon-'] {
		margin-left: 0.5rem;
		font-size: 1.5rem;
		margin-right: 1rem;
		width: 2rem;
		text-align: center;
		color: $medium-gray;
		display: inline-block;
		transform: translateY(0.25rem);

		@include breakpoint(small only) {
			display: block;
			margin: 0 auto 0.5rem; 
		}

		@include breakpoint(large up) {
			transform: translateY(0.5rem);
			margin-right: 2rem;
			font-size: 3rem;
		}
	}

	a {
		font-weight: normal;
	}
}