[am-ImageHeader] {

	position: relative;
	padding: 1rem;
	margin-bottom: 1rem;

	@include breakpoint(medium up) {
		margin-bottom: 2rem;
		padding: 8rem 2rem 2rem;
	}

	img {
		width: 100%;
	}

	background: url(/assets/img/hero.jpg) no-repeat;
	background-size: cover;

	&:after {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba($primary-color, 0.8);
	}

	@include all-type {
		color: white;
		position: relative;
		z-index: 1;
	}

	h1 {
		font-size: 1rem;
		text-align: center;
		margin: 0;

		@include breakpoint(medium up) {
			font-size: 4rem;
		}

	}
}