[am-SiteFooter] {
	padding: 1rem;
	background-color: #326068;

	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0 1rem, right 0 top 1rem;

	@include breakpoint(medium up) {
			background-image: url('/assets/img/robot_footer.svg'), url('/assets/img/robot_footer2.svg');
	}
	

}

[am-SiteFooter-Inner] {
	
	text-align: center;


	@include breakpoint(medium up) {
			padding: 1rem 7rem;
	}

	@include all-type {
		color: white;
	}

	a {
		color: lighten($primary-color, 40%);

		&:hover {
			color: white;
		}
	}

	p {
		margin-bottom: 0;
	}
}