[am-SiteHeader] {
	background: white;

	min-height: $header-height-small;
	line-height: $header-height-small;
	


	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;

	@include breakpoint(medium up) {
		height: $header-height;
		height: $header-height;
		line-height: $header-height;
	}
}

[am-SiteHeader-Logo] {
	
	width: 4rem;
	margin-left: 0.5rem;
	margin-top: -0.25rem;

	@include breakpoint(medium up) {
		margin-top: -0.5rem;
		width: auto;
		margin-left: 1rem;
	}
}

[am-SiteHeader-Nav] {

	float: right;


	ul {
		@include list-reset;
		margin: 0;
		


		

		li {
			display: inline-block;


			a {
				display: block;
				height: $header-height-small;
				line-height: $header-height-small;
				font-size: 0.7rem;
				padding: 0 0.3rem;
				
				font-family: $header-font-family;
				color: #555;


				@include breakpoint(420) {

					font-size: 1rem;
					padding: 0 0.5rem;

				}

				@include breakpoint(medium up) {
					height: $header-height;
					line-height: $header-height;
					font-size: 0.95rem;
					padding: 0 1rem;
				}

				@include breakpoint(large up) {
					font-size: 1.4rem;
					padding: 0 1.5rem;
				}

				&:hover {
					color: black;
				}
				
			}

			&.selected {

				a {
					color: $primary-color;
					font-weight: bold;
				}
				
			}
		}
	}
}