<ul am-IconPoints>
	<li>
		<span am-IconPoints-Icon class="icon-screwdriver"></span>
		<h4 am-IconPoints-Text><perch:content id="text_1" label="Screwdriver text" type="text" /></h4>
	</li>
	<li>
		<span am-IconPoints-Icon class="icon-laptop"></span>
		<h4 am-IconPoints-Text><perch:content id="text_2" label="Laptop text" type="text" /></h4>
	</li>
	<li>
		<span am-IconPoints-Icon class="icon-chip"></span>
		<h4 am-IconPoints-Text><perch:content id="text_3" label="Chip text" type="text" /></h4>
	</li>
</ul>