<div class="row column">
	<perch:if exists="header"><h4><perch:content id="header" type="text" label="Header" title="true" /></h4></perch:if>
</div>
<div class="row mb2">
	<div class="columns medium-4 <perch:every nth-child="even">medium-push-8</perch:every>">
		<img class="mb1" src="<perch:content type="image" id="image" label="Image" width="400" quality="60" help="400px wide" />" alt="<perch:content type="text" id="alt" label="Description" required="true" help="e.g. Photo of a robot becoming sentient and destroying a classroom of screaming twelve-year-olds" />" />
	</div>
	<div class="columns medium-8 <perch:every nth-child="even">medium-pull-4</perch:every>">
		<perch:content id="text" type="textarea" label="Text" html="true" editor="redactor" />
	</div>
</div>


